<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/cliente1BN.png" width="auto" height="50%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente7BN.png" width="auto" height="40%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente3BN.png" width="auto" height="40%">
        </div>
    </div>
    <div class="row mt--7">
        <div class="col-4">
            <img src="../../../assets/cliente9BN.png" width="auto" height="50%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente8BN.png" width="auto" height="50%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente2BN.png" width="auto" height="60%">
        </div>
    </div>
    <div class="row mt--7">
        <div class="col-4">
            <img src="../../../assets/cliente4BN.png" width="auto" height="50%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente5BN.png" width="auto" height="40%">
        </div>
        <div class="col-4">
            <img src="../../../assets/cliente6BN.png" width="auto" height="60%">
        </div>
    </div>
</div>