<div class="container-fluid mt-4 footer">
    <hr class="footer-line" width="100%">
    <div class="row">
        <div class="col-6 ta-c copyright-text">
            <p>
                Developed by RS2S Software&trade; and Blue Fewla Softworks&trade;.<br>
                &copy; {{year}} Blue Fewla Softworks. All rights reserved.
            </p>
        </div>
        <div class="col-6 ta-r">
            <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/bluefewla/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li><a class="instagram" href="https://www.picuki.com/profile/bluefewla" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                <li><a class="email"><i class="fas fa-envelope"></i></a></li>
                <li><a class="phone"><i class="fas fa-phone-alt"></i></a></li>
            </ul>
        </div>
    </div>
</div>